<!DOCTYPE html>
<html>
<head>
<title>edit Docuseal e-sign</title>
</head>
<body>
<script>

configDocusealByAutoSign();

window.addEventListener('message', (event) => {
  console.log("message from IFRAME:", event.origin);

  if (event.origin === "https://sf-new-uat.laboredge.com") {
    console.log("Received message from parent:", event.data);
  } else {
    console.warn("Received message from an untrusted origin:", event.origin);
  }
});

async function configDocusealByAutoSign(){
  // Get parameters from URL
  const urlParams = new URLSearchParams(window.location.search);
  const templateId = urlParams.get('template_id');
  
  
  console.log('Using templateId:', templateId);


  try {
    const signIn_v1 = await fetch("https://nexus-sign2.laboredge.com:3001/sign_in");
    const html = await signIn_v1.text();
    const authenticity_token = getAuthenticityToken(html);

    const signIn_v2 = await fetch("https://nexus-sign2.laboredge.com:3001/sign_in", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      credentials: "include",
      body: new URLSearchParams({
        'user[email]': 'nexus@laboredge.com',
        'user[password]': 'nexus123',
        authenticity_token: authenticity_token
      })
    });
    const login_User = await signIn_v2.text();
	

	

  

    const template_v1 = await fetch(`https://nexus-sign2.laboredge.com:3001/templates/${templateId}/edit`);
    const html_temp = await template_v1.text();
	/*
    const temp_authenticity_token = getAuthenticityToken3(html_temp);

    const template_v2 = await fetch("https://nexus-sign2.laboredge.com:3001/templates", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      credentials: "include",
      body: new URLSearchParams({
        authenticity_token: temp_authenticity_token,
        'template[name]': templateName,
        'folder_name': folderName
      })
    });

    localStorage.setItem('location', template_v2.url);
    console.log("localstorage template_v2 is done", template_v2);
	*/


    
    return document.body.innerHTML = html_temp;

  } catch (error) {
    console.error('Error fetching data:', error);
  } finally {
    console.log('Fetch operation completed.');
  }
}

function getAuthenticityToken(response) {
  const parser = new DOMParser();
  const doc = parser.parseFromString(response, 'text/html');
  const input = doc.querySelector('input[name="authenticity_token"]');
  return input ? input.value : null;
}

function getAuthenticityToken2(response) {
  let parser = new DOMParser();
  let doc = parser.parseFromString(response, 'text/html');
  const input = doc.querySelector('input:last-of-type');
  input.getAttribute('authenticity_token')
  return input ? input.value : null;
}

function getAuthenticityToken3(response) {
  const parser = new DOMParser();
  const doc = parser.parseFromString(response, 'text/html');
  const form = doc.querySelector('form#new_template');
  if (!form) return null;
  const input = form.querySelector('input[name="authenticity_token"]');
  return input ? input.value : null;
}

</script>
</body>
</html>
