<!DOCTYPE html>
<html>
<head>
<title>Docuseal e-sign</title>
</head>
<body>
<script>
    fetch("https://nexus-sign2.laboredge.com:3001/sign_in", {
      method: "GET",
      credentials: "include"
    })
    .then(response => response.text())
    .then(html => {
         var authenticity_token = getAuthenticityToken(html);
                 return fetch("https://nexus-sign2.laboredge.com:3001/sign_in", {
                         method: "POST",
                         headers: {
                           "Content-Type": "application/x-www-form-urlencoded"
                         },
                         credentials: "include",
                         body: new URLSearchParams(
                                 {
                                         'user[email]' : 'nexus@laboredge.com',
                                         'user[password]' : 'nexus123',
                                         authenticity_token : authenticity_token
                                 }
                         )
                 });
    })
    .then(postResponse => postResponse.text())
                .then(result => {
                  fetch("https://nexus-sign2.laboredge.com:3001", {
                  method: "GET",
                  credentials: "include"
                        })
                .then(response => response.text())
                .then(html => {
                    document.body.innerHTML = html;
                     })
    })
    .catch(err => {
      console.error("Error:", err);
    });

function getAuthenticityToken(response) {
    console.log("inside get authenticity_token")

    var parser = new DOMParser()
    var doc = parser.parseFromString(response, 'text/html');
    console.log(doc)
    var input = doc.querySelector('input[name="authenticity_token"]')

    return input ? input.value : null;
  }
</script>
</body>
</html>
